
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css"    

.marge
    padding-left: 2.5cm
    padding-right: 2.5cm


.contenu
    background-color: #F4E8FF


.cadre
    
    flex: 0 0 25%f
span i  
    background-color: white
    padding: 10px
    border-radius: 100%
    color: bleu
    margin-bottom: 20px
p
   font-size: 12px

.col-7 p
  color: rgba(255,255,255,0.5) !important

footer
  background-color: #259
  opacity: 0.8
  color: rgba(255,255,255, 0.5)

footer a
  color: rgba(255,255,255, 0.5)
  
.copyright
  color: rgba(255,255,255, 0.4)

.cadre
    background-color: #E8D2FF
    
.jumbotron
    background-color: #E8D2FF








